.sources {
  position: relative;
  bottom: 3px;
  right: 0px;
  float: right;
  font-size: 0.8em;
  color: rgba(0,0,0,0.4);
  text-decoration: underline;
  cursor: pointer;
}

.thesisTitleInsert {
  position: absolute;
  margin-right: 1em;
  font-size: 0.9rem;
  line-height: 0.9rem;
}

.thesis-line {
  height: 50px;
}
