.theses li {
  margin-bottom: 5em;
  list-style-type: none;
}

.positionWithText {
  text-decoration: underline;
}

.positionWithText:hover {
  cursor: pointer
}

.positionsOverview {
  margin: .5em 0;
}

.occasionList .territory {
  margin-bottom: 1em;
}

.searchNoBorder input {
  border: none !important;
}
