.theses li {
  margin-bottom: 5em;
  list-style-type: none;
}

.positionWithText:hover {
  cursor: pointer;
  border-bottom-width: 2px !important;
  margin-bottom: 6px;
}

.positionsOverview {
  margin: .5em 0;
}

.occasionList .territory {
  margin-bottom: 1em;
}

.searchNoBorder input {
  border: none !important;
}

.tagContainer {
  margin-bottom: -0.4em
}

.tagContainer a.label {
  margin-left: 0;
}
