.App {
  background-color: #fcfcfc;
}

.ui.segment {
  background-color: #fcfcfc;
}

.theses li {
  margin-bottom: 5em;
  list-style-type: none;
}

.positionWithText:hover {
  cursor: pointer;
  border-bottom-width: 2px !important;
  margin-bottom: 6px;
}

.positionsOverview {
  margin: .5em 0;
}

.occasionList .territory {
  margin-bottom: 1em;
}

.searchNoBorder input {
  border: none !important;
}

.tagContainer {
  margin-bottom: -0.4em
}

.tagContainer a.label {
  margin-left: 0;
}

.ui.stackable.column.grid.categoryGrid {
  margin-top: 25px !important;
}

.ui.stackable.column.grid.categoryGrid > .column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ui.stackable.categoryGrid ul {
  margin-top: 0;
  margin-bottom: 0;
}

.closeIcon {
    cursor: pointer;
    position: absolute;
    margin: 0;
    top: .78575em;
    right: .5em;
    opacity: .7;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}

#outerContainer.ui.text.container {
  max-width: 800px !important;
  padding-top: 2em;
};
