@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.App {
  background-color: #fcfcfc;
}

a {
  /* Make this !important until the weird Semantic UI LESS compiler setup is integrated with CRA without ejecting... */
  color: #333;
}

a:hover, .ui.items a.item:hover .content .header, .ui.link.items>.item:hover .content .header {
  color: #111;
}

.ui.segment {
  background-color: #fcfcfc;
}

.theses li {
  margin-bottom: 5em;
  list-style-type: none;
}

.positionWithText:hover {
  cursor: pointer;
  border-bottom-width: 2px !important;
  margin-bottom: 6px;
}

.positionsOverview {
  margin: .5em 0;
}

.occasionList .territory {
  margin-bottom: 1em;
}

.searchNoBorder input {
  border: none !important;
}

.tagContainer {
  margin-bottom: -0.4em
}

.tagContainer a.label {
  margin-left: 0;
}

.ui.stackable.column.grid.categoryGrid {
  margin-top: 25px !important;
}

.ui.stackable.column.grid.categoryGrid > .column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ui.stackable.categoryGrid ul {
  margin-top: 0;
  margin-bottom: 0;
}

.closeIcon {
    cursor: pointer;
    position: absolute;
    margin: 0;
    top: .78575em;
    right: .5em;
    opacity: .7;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}

#outerContainer.ui.container {
  max-width: 800px !important;
  padding-top: 2em;
};

.ui.comments .comment .actions {
  visibility: hidden;
}

.ui.comments .comment:hover .actions {
  visibility: visible;
}

/* Stack objection form buttons on small screens */
@media only screen and (max-width: 600px) {
  .ui.stackable.buttons{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ui.stackable.buttons > .button{
    width: 100%;
  }
}

/* Hover effect for items in occasion list view */
.occasionList .list > .occasionListItem {
  border-left: 5px solid #fcfcfc;
  padding-left: 5px;
}
.occasionList .occasionListItem:hover {
  border-color: rgb(220, 220, 220)
}

/* Display Wikidata Logo monochrome unless hovered */
.wikidataLabel { filter: grayscale(100%) }
.wikidataLabel:hover { filter: initial }
