.positionChart {
  margin: 0.3em 0;
  cursor: pointer;
  background-color: white;
}

.rect:hovered {
  fill-opacity: 0.8;
}

.rect-pro {
  fill: #00f7d2;
}
.rect-neutral {
  fill: rgb(200, 200, 200);
}
.rect-contra {
  fill: #ffac82;
}

.partyNames {
  line-height: 1.2;
}

.partyNames span {
  padding: 0 0.3em;
  font-size: 0.9em;
}

.partyNames span:hover {
  cursor: pointer;
}
