# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/client/node_modules

# testing
/coverage
/api-server/.cache/
/api-server/*.log

# production
/build
/client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
metawahl-api.log
flask_api.log

__pycache__
*.pyc

uwsgi.ini
