.quizLink {
    margin-bottom: 1.5em;
}

.quizResult {
  margin-top: 2em;
}

.quizResult .ui.a {
  margin-bottom: 10px;
}

.thesis-compact {
  cursor: pointer;
}

.thesis-compact:hover .thesisTitleInsert {
  text-decoration: underline;
}

.thesisTitleInsert {
  display: inline;
  padding-left: .5em
}

.occasionContainer {
  min-height: 350px;
  padding: 1em 2em;
}

@media (max-width: 768px) {
  .occasionContainer {
    padding: 0;
  }
  .thesis-compact {
    height: auto;
  }

  .thesisTitleInsert {
    display: inline-block;
    position: initial;
    padding-left: 0;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1.5rem;
  }
}
