.App {
  text-align: left;
  padding: 5%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar a {
  margin-right: .5em;
}

.theses li {
  margin-bottom: 5em;
  list-style-type: none;
}

.theses span.positionWithText {
  text-decoration: underline;
}

.theses span.positionWithText:hover {
  cursor: pointer
}

.positionsOverview {
  margin: .5em 0;
}
