<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>Wahl-o-Mat im Nachhinein</h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'occasions'}}
        Wahlen
      {{/link-to}}
      {{#link-to 'uber'}}
        Über dies
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>