<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Über Wahl-o-Mat im Nachhinein</h2>
    <p>Das Wahl-o-Mat Tool sammelt seit vielen Jahren interessante Daten über
    die Bewertung aktueller Themen durch Parteien. Hierüber lässt sich nicht
    nur beobachten, wie die Parteien über Zeit im Wandel sind, sondern auch
    die wechselnde Auswahl an jeweils aktuellen politischen Fragen verfolgen.</p>
</div>

{{outlet}}
