[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
prettyprint = "*"
pylibmc = "*"
python-dateutil = "*"
python-slugify = "*"
requests = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Caching = "*"
Flask-Cors = "*"
Wikidata = "*"
flask-restplus = "*"
"psycopg2-binary" = "*"

[dev-packages]
tavern = "*"
pytest = "*"
"flake8" = "*"
