[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
prettyprint = "*"
"psycopg2" = "*"
pylibmc = "*"
python-dateutil = "*"
python-slugify = "*"
requests = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Caching = "*"
Flask-Cors = "*"
Wikidata = "*"
flask-restplus = "*"

[dev-packages]
autopep8 = "*"
tavern = "*"
pytest = "*"
