[uwsgi]
chdir = /home/pv/metawahl/src/api-server
module = wsgi

master = true
processes = 5

socket = /home/pv/metawahl/metawahl.sock
chmod-socket = 660
vacuum = true

die-on-term = true

logto = /var/log/metawahl/uwsgi.log
env = METAWAHL_CONFIG=prod.conf.py
env = METAWAHL_API_LOGFILE=/var/log/metawahl/api.log
# env = METAWAHL_SECRET = <MANY RANDOM BYTES>
